p {
  font-family: Lato;
}
.bgImg{
  background-image : url("https://cdn.jsdelivr.net/gh/PritamGope/Login@master/src/assets/images/bg_space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
}